.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 600px;
  height: auto;
  padding: 2rem;
  color: #f7f7f7;
  box-shadow: 0 0 10px #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container label {
  color: #b6b6b6;
  text-transform: unset;
  line-height: 1.5rem;
}
