:root {
  --btn-blue-bg: #0088ff;
  --bg-primary: #232831;
  --absolute-black: #000;
  --border-color: slategrey;
}

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  /* background: var(--bg-primary); */
}

/* global tags */

p::first-letter,
h1::first-letter {
  text-transform: capitalize;
}

button {
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* global classes */

.container {
  height: 100vh;
  width: 100vw;
  background: var(--bg-primary);
}

.ttc {
  text-transform: capitalize;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.fw-500 {
  font-weight: 500;
}

.flex {
  display: flex;
}

.flex-dir-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.border-right {
  border-right: 0.5px solid var(--border-color);
}
.border-bottom {
  border-bottom: 0.5px solid var(--border-color);
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #f7f7f7;
  background-color: #007bff;
  transition: all ease 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: #0069da;
}

.b-btn {
  padding: 1rem 1.5rem;
  letter-spacing: 2px;
}

.round-btn {
  border-radius: 3rem;
}

.rsquare-btn {
  border-radius: 0.3rem;
}

.none {
  display: none;
}

.z-10 {
  z-index: 10;
}

/* custom input styles */
.custom-input {
  font-size: 1.3rem;
  width: 400px;
  height: 50px;
  position: relative;
  /* background-color: #1b2029; */
  background-color: var(--bg-primary);
}

.custom-input select {
  width: 400px;
  color: #f7f7f7;
  padding: 1rem;
}

.input-field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-size: inherit;
  letter-spacing: 1px;
  color: #f7f7f7;
  border: 2px solid #e1e5ee;
  border-radius: 0.5rem;
  outline: none;
  background: none;
}

.input-field:hover {
  border-color: #adffff;
}

.input-field:focus {
  border-color: #18ffff;
}

.input-label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  color: white;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  /* background-color: #1b2029; */
  background-color: var(--bg-primary);
}

.input-field:focus ~ .input-label,
.input-field:not(:placeholder-shown) ~ .input-label {
  top: -0.5rem;
  font-size: 0.9rem;
  left: 0.8rem;
  color: #18ffff;
}

.input-date::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* input field-2 css */
.input-field-2 label {
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.5rem;
  letter-spacing: 2px;
}

.input-field-2 input {
  appearance: none;
  display: block;
  padding: 0.2rem 0.4rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 2.7rem;
  font-size: 1.2rem;
  color: #dadada;
  outline: none;
  background: none;
  background-color: #202329;
  border: 1px solid #000;
  border-radius: 0.2rem;
}

.input-field-2 input:hover {
  box-shadow: 0 0 1px #000;
}

.input-field-2 input:focus {
  border-radius: 0.2rem;
  border: solid 1px #007bff;
}

.input-field-2 input[tpye="password"] {
  font-weight: 6rem;
}

.input-field-2 input[type="submit"] {
  background-color: #0069da;
}

.input-field-2 input[type="submit"]:hover {
  background-color: #045dbd;
}

.input-field-2 a {
  color: #007bff;
}

/* Custom alert styles */

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  width: 100%;
  z-index: 10;
}

.alert-success {
  color: #155724;
  border-color: #c3e6cb;
  background-color: #d4edda;
}

.alert-danger {
  color: #721c24;
  border-color: #f5c6cb;
  background-color: #f8d7da;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.hide {
  display: none;
}

/* Textarea */
.autoExpand {
  color: #d4d4d4;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 10px;
  width: 100%;
  height: auto;
  max-height: 170px;
  border: none;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #121316ef;
  resize: none;
}

.autoExpand:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px black;
}

/* last */
.avatar-upload {
  position: relative;
  width: 250px;
  margin: 50px auto;
}

.avatar-upload .avatar-edit {
  position: absolute;
  top: 10px;
  right: -30px;
  top: 30px;
  z-index: 1;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-upload .avatar-preview {
  width: 250px;
  height: 250px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #ddd7c9;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.884);
  box-shadow: 0 0 20px #000;
}

.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* search bar */
.search-bar {
  position: relative;
  margin: 1rem 0;
  display: flex;
}
#search-input {
  border: none;
  height: 2.5rem;
  width: 100%;
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 1rem;
  outline: none;
  font-size: 1.1rem;
  font-weight: 600;
  overflow-x: scroll;
  color: #495057;
  letter-spacing: 1px;
  background-color: #f7f7f7;
}
#search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  cursor: pointer;
}
#search-input:focus {
  box-shadow: 0 0 3px 3px cornflowerblue;
  transition: 0.3s;
}
#search-btn {
  position: absolute;
  left: 10px;
  top: 13px;
  z-index: 1;
}
.fa-search {
  color: #777777;
}
#search-btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
